body {background-color: #F0F6F6;
    color:#3C31FF;}
a {color: #F0F6F6;}
h1 {color: #3C31FF;}
nav {background-color: #F04DE2;
    padding: 10px;
    margin-bottom: 30px;}
nav a {color: #F0F6F6;}
nav a:hover {background-color: #91FF5E;
    color: #000;}
footer p {float: right;}
.stopfloating {clear: both;}